body{
    background-color: #050529;
    color: #ffffff;
}
/*Big text*/
#maintext{
    text-align: center;
    font-family: 'Rock Salt', cursive;
    font-size: 70px;
    margin: 30px;

}
/* About me section*/
#About-me{
    width: 70%;
    margin: auto;
    display: flex;
    background-color: #100f3a;
    border-radius: 10px;
    margin-bottom: 50px;
    box-sizing: border-box;
    font-family:'Delius', cursive;
}
/* Introductory text*/
#intro{
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px;
}
/*About me text*/
#about-text{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.font{
    font-family: 'Rock Salt', cursive;
    margin: 20px;
}
/*Braces*/
.shutter{
    margin-left: 33%;
}
/*My skills pics*/
#pic{
    padding-right: 15px;
    padding-top: 20px;
}
/*My projects*/
.projects{
    font-family: 'Delius', cursive;
}
/*work experience*/
#work{
    width: 70%;
    margin: auto;
}
ul>li{
    list-style: none;
}
#flexholder{
    width: 80%;
    margin: auto;
    display: flex;

}
.project{
    background-color: rgb(4, 34, 46);
    width: 30%;
    margin-left: 15px;
    padding: 10px;
    height: 280px;
    font-size: 20px;
}
/*View projects button*/
.button{
    background-color: slateblue;
    border: none;
    margin-left: 80px;
    border-radius: 5px;
    padding: 15px;
    font-size: 15px;
    color: white;
}
.button:hover{
    opacity: .5;
    font-weight: bold;
}
/*Contacts*/
.contact-me{
    margin: auto;
    width: 30%;
}
